.slider {
    width: fit-content;
    position: absolute;
    top: 342px;
    right: 56px;

    @media (max-width: 1700px) {
        top: 393px;
        right: 107px;
    }

    @media (max-width: 1200px) {
        width: 400px;
        height: 360px;
    }

    @media (max-width: 1100px) {
        right: 70px;

    }

    @media (max-width: 1000px) {
        right: 230px;
        top: 570px;
    }

    @media (max-width: 1000px) {
        right: 230px;
        top: 570px;
    }

    @media (max-width: 800px) {
        right: 180px;
    }

    @media (max-width: 700px) {
        right: 140px;
        top: 590px;
    }

    @media (max-width: 650px) {
        right: 100px;
    }

    @media (max-width: 600px) {
        right: 70px;
    }

    @media (max-width: 500px) {
        right: 20px;
    }
}

.slaider_img {
    transition-duration: 0.5s;
    width: 90%;
}

.icon_navigate {
    color: rgba(118, 75, 162, 1);
    background-color: rgba(0, 128, 0, 0);
}

.slaider_img_active {
    transform: rotate(60deg);
    transform-origin: top right;
}


.navigation__button {
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    border: none;
}

.navigation__button:focus {
    background-color: transparent;
}

.navigation__button .navigation__icon {
    font-size: 100px;
    color: rgba(118, 75, 162, 1);

    @media (max-width: 1700px) {
        font-size: 88px;
    }

    @media (max-width: 1500px) {
        font-size: 70px;
    }

    @media (max-width: 1200px) {
        font-size: 60px;
    }

    @media (max-width: 1100px) {
        font-size: 50px;
    }

    @media (max-width: 600px) {
        font-size: 40px;
    }
}